@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  flex-direction: column;
}

button {
  padding: 8px 20px;
  font-weight: 300;
}

ul {
  display: flex;
  list-style: none;
  border: none;
}

a {
  text-decoration: none;
  color: gray;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  background-color: #ddd;
  flex-wrap: wrap;
}

.left-links , .right-links {
  display: flex;
  padding: 0 10px 0 10px;
  gap: 20px;
}
